/clases/ConceptosBasicos/nbproject/private/diagramaBD.img
/tareas/Tarea_Clase_Libro/nbproject/private/
/tareas/Tarea_Clase_Libro/build/
/clases/ConceptosBasicos/build/
/clases/ConceptosBasicos/dist
/clases/ReutilizacionCodigo2209/nbproject/private/
/clases/ReutilizacionCodigo2209/build/
/clases/ReutilizacionCodigo2209/dist/
/tareas/TareaComposicion/nbproject/private/
/tareas/TareaComposicion/build/
/tareas/TareaComposicion/dist/
/clases/JavaBásico2209/nbproject/private/
/clases/JavaBásico2209/build/
/clases/JavaBásico2209/dist/
